#GridLogin{
    background-image: url(https://i.postimg.cc/8c10zwMW/fondo.png);
    background-size: cover;
    height: 100vh;
}

.Paper {    
    height: 400px;
    margin-top: 5vh;
    padding: 15px;
}

#AvatarLogin{
    background-color: #1F3C88;
}




