@use './base.scss';

.name{
    font-family: monospace !important;
    color:base.$second-color;
    letter-spacing: 3px !important;
    font-weight: bold !important;
    font-size: 20px !important;
}

.description{
    font-family: 'base.$main-fonts';
}

.status{
    font-family: 'Franklin Gothic Medium'  !important;
    color:base.$main-color;
    letter-spacing: 3px !important;
    font-weight: bold !important;
}

.date {
    font-family: 'Franklin Gothic Medium'  !important;
    color: rgb(167, 17, 80);

}
